<div class="sharky flex center">
    <div class="right flex">
        <h2>Sharky</h2>
        <h3>JavaScript | HTML | CSS</h3>
        <p *ngIf="languageService.currentLanguage === 'en'">A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale. </p>
        <p *ngIf="languageService.currentLanguage === 'de'">Ein einfaches Jump-and-Run-Spiel, das auf einem objektorientierten Ansatz basiert. Hilf Sharkie, Münzen und Giftflaschen zu finden, um gegen den Killerwal zu kämpfen.</p>
        <div class="buttons"><a target="_blank" class="liveButton" href="https://cyborg-s.github.io/sharky/">Live test</a>
        <a class="gitButton" target="_blank" href="https://github.com/cyborg-s/sharky"> GitHub</a></div>
    </div>
    <div class="left flex center"><img #img class="imgAnimate" src="assets/img/sharky.png" alt=""></div>
</div>