<div class="sharky flex center">
    <div class="right flex">
        <h2>Autoren-Website | Kundenprojekt</h2>
        <h3>HTML | CSS | JavaScript | Deployment</h3>
        <p *ngIf="languageService.currentLanguage === 'en'">Individually developed website for an author and speech therapist to present his books, audio samples, and practice. The client project was independently implemented from the responsive frontend through to production deployment. The website was set up with a hosting provider and prepared for independent content management by the client. </p>
        <p *ngIf="languageService.currentLanguage === 'de'">Individuell entwickelte Website für einen Autor und Logopäden zur Präsentation seiner Bücher, Hörbeispiele und Praxis. Das Kundenprojekt wurde eigenständig von der Umsetzung des responsiven Frontends bis zur produktiven Bereitstellung realisiert. Die Website wurde über einen Hosting-Provider eingerichtet und für die eigenständige Pflege durch den Kunden vorbereitet.</p>
        <div class="buttons"><a target="_blank" class="liveButton" href="https://petergleixner.de/">Live</a>
        <a class="gitButton" target="_blank" href="https://github.com/cyborg-s/gleixnerWebsite"> GitHub</a></div>
    </div>
    <div class="left flex center"><img #img class="imgAnimate" src="assets/img/gleixner.png" alt=""></div>
</div>


