img{
    height: 339px;
    margin: -70px;
    margin-left: 6%;
              margin-right: calc(6% - 15px);
}

.imgAnimate{
    opacity: 0;
    transform: translateX(150px); /* Startpunkt: 150px nach rechts verschoben */
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .imgAnimate.show {
    opacity: 1;
    transform: translateX(0); /* Nach links zur Normalposition */
  }

.sharky{
    margin-top: 100px;
    height: 339px;
    gap: 35px;
    justify-content: center;
    >.left{
        width: 43%;
        justify-content: center;
    }
    >.right{
        flex-direction: column;
        width: 36%;
        height: 339px;
        justify-content: end;
        align-items: end;
        gap: 35px;
        >h2{
            margin: 0;
           font-size: 32px!important;
           font-weight: 700;
           color: #9747FF; 
        }
        >h3{
            font-size: 23px;
            font-weight: 400;
            color: #70E61C;
            margin: 0;
        }
        >p{
            margin: 0;
            font-size: 16px;
            color: #FFFFFF;
            font-weight: 400;
            text-align: end;
        }
        >.buttons{
            >a{
                text-decoration: none;
                gap: 10px;
                height: 58px;
                padding-inline: 30px;
                padding-block: 15px;
                border-radius: 10px;
            }
            >.liveButton{
                text-decoration: none;
                color: #FFFFFF;
                background-color: #9747FF;
                width: 152px;
                margin-right: 6vw;
            }
            >.gitButton{
                text-decoration: none;
                color: #FFFFFF;
                width: 137px;
                border: 1px solid #70E61C;
            }
        }
    }
}



  @media (max-width: 820px) {
    .sharky {
      flex-direction: column-reverse;
      height: auto;
      gap: 0;
      >.left{
          width: 342px;
          justify-content: center;
      }
      >.right{
        height: auto;
          width: 100vw;
          align-items: center;
          >h3{
              text-align: center;
              margin-left: 6%;
              margin-right: calc(6% - 15px);
              height: 34px;
          }
          >p{
              text-align: center;
              margin-left: 6%;
              margin-right: calc(6% - 15px);
          }
      }
    }
  
    .liveButton{
      margin-right: 30px!important;
    }
  }
  

