main,
body {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#hideAssignlist {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 125vh;
  overflow-x: hidden;
}

.content-section {
  margin-top: 110px;
  margin-left: 91px;
  margin-right: 110px;
}

.addTask {
  display: flex;
  background-color: #2a3647;
  width: 160px;
  height: 48px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  border: 1px solid #2a3647;
  align-items: center;
}

.addTask:hover {
  cursor: pointer;
  background-color: #29abe2;
  border: 1px solid #29abe2;
  width: 160px;
  height: 48px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.addPlus {
  height: 32px !important;
  width: 32px !important;
}

.header {
  align-items: center;
  justify-content: space-between;
}

.findTask {
  display: flex;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  width: 280px;
  padding-inline: 16px;
  padding-block: 8px;
  box-sizing: unset;
}

.findTaskMobile {
  display: none;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  width: auto;
  padding-inline: 16px;
  padding-block: 8px;
}

.findTaskInput {
  border: none;
  height: 32px;
  width: 280px;
  font-size: 20px;
  font-weight: 400;
}

.findTaskInput:focus {
  border: none;
  outline: none;
}

.findTaskInput::placeholder {
  color: #d1d1d1;
}

.findTaskImg {
  width: 48px;
  height: 32px;
  align-items: center;
  justify-content: end;
  border-left: 1px solid #d1d1d1;
}

.taskSearch {
  height: 17.58px;
}

.taskSearch:hover {
  cursor: pointer;
}

.headerRight {
  width: 504px;
  justify-content: space-between;
}

.columnHeadLine {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
}

.columnHead {
  justify-content: space-between;
  width: 244px;
  height: 24px;
  padding-bottom: 8px;
}

.column {
  flex-direction: column;
}

.columnHead h2 {
  font-size: 20px;
  margin: 0;
}

.c-pointer:hover {
  cursor: pointer;
}

.taskCoulumn {
  justify-content: space-between;
}

.headerMobile {
  margin: 0;
}

.noTask {
  max-width: 246px;
  width: fill;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
}

.addTaskMobile {
  display: none;
  background-color: #2a3647;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  border: 1px solid #2a3647;
  align-items: center;
}

.addTaskMobile:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.card {
  width: 214px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0px 0px 10px 3px #00000014;
  margin-block: 10px;
  box-sizing: unset;
  height: fit-content;
}

.card:hover {
  cursor: pointer;
}

.technical {
  background-color: #1fd7c1;
}

.user {
  background-color: #0038ff;
}

.cardText {
  width: 220px;
  color: #a8a8a8;
  font-size: 14px;
  text-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
}

.cardTitle {
  color: #2a3647;
  font-size: 14px;
  margin-bottom: 8px;
}

.cardCategory {
  color: #ffffff;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 4px;
  width: fit-content;
  height: 21px;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.progress-container {
  width: 128px;
  background-color: #f3f3f3;
  border-radius: 8px;
  height: 8px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4589ff;
  width: 0%;
  border-radius: 25px;
  transition: width 0.4s;
}

.subtask-container {
  margin: 10px 0;
  max-height: 200px;
  overflow-y: overlay;
}

.assignContainer {
  max-height: 200px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.progress-text {
  font-size: 14px;
}

.cardBalken {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropSection {
  min-height: 400px;
  border: 2px dashed #00000000;
  height: calc(100vh - 300px);
  overflow-y: auto;
}

.drag-over {
  border: 2px dashed #cecece;
  border-radius: 24px;
}

.initials {
  width: 32px;
  height: 32px;
  border-radius: 45px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  margin-left: -10px;
  position: relative;
  z-index: 1;
}

.mobileDragTask {
  margin-bottom: 70px;
  display: none;
}

.initialsDetails {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  position: relative;
}

.initials-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
}

.assignList {
  gap: 16px;
}

.plusImgMobile {
  display: none;
  box-sizing: unset;
  height: 25px;
  width: 25px;
}

.plusImg {
  height: 25px;
  width: 25px;
}

.subTaskList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  padding-block: 4px;
  height: 28px;
}

.subTaskList p {
  padding-inline-start: 16px;
}

.subTaskLeft {
  display: none;
  align-items: center;
}

.subTaskList:hover .subTaskLeft {
  display: flex;
}

.white {
  filter: brightness(1000%) saturate(0%);
}

.editInput {
  display: flex;
  width: 100%;
  height: 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #29abe2;
  align-items: center;
}

.edit-input {
  height: 32px;
  border: none !important;
  height: 23px !important;
  margin: 0 !important;
  width: 100%;
  font-size: 14px !important;
}

.subTaskEdit:hover,
.subTaskDelete:hover {
  cursor: pointer;
}

.subTaskList:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.subTaskEdit {
  height: 14px;
  width: 14px;
  padding-right: 8px;
  z-index: 1;
  box-sizing: unset;
}

.subTaskDelete {
  height: 14px;
  width: 14px;
  padding-left: 10px;
  padding-right: 20px;
  z-index: 1;
  box-sizing: unset;
}

@media (max-width: 1120px) {
  .plusImg {
    display: none;
  }

  .plusImgMobile {
    display: block;
  }
}

@media (max-width: 1024px) {
  .findTask {
    display: none;
  }

  .findTaskMobile {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  .mobileSearch {
    padding-bottom: 24px;
  }

  .headerRight {
    flex-direction: row-reverse;
  }

  .findTaskInput {
    width: 100%;
  }

  .headerMobile {
    font-size: 47px;
  }

  .content-section {
    min-width: 246px;
    margin-inline: 16px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .card {
    margin-inline: 10px;
  }

  .column {
    width: 100%;
  }

  .columnHead {
    width: 100%;
  }

  .noTask {
    width: 214px;
  }

  .dropSection {
    display: flex;
    overflow-x: scroll;
    min-height: 200px;
    height: auto;
  }

  .mobileDragTask {
    display: unset;
  }
}

.mobile-logo {
  display: none;
}

.mobileSelect {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .mobile-logo {
    display: block;
  }
}

@media (max-height: 1050px) {
  .detailCard {
    height: fit-content !important;
    margin-block: 10px !important;
  }
}

@media (max-width: 550px) {
  .detailCard {
    width: 95vw !important;
  }
  .assignList,
  .detailDate,
  .detailDescription {
    width: auto;
  }
}