.headerDiv{
    width: 100vw;
    max-width: 1440px;
}

header {
    color: #FFFFFF;
   padding-inline: 100px;
    padding-block: 37px;
    height: 110px;
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: start;
    >div {
        display: flex;
        gap: 29px;
        >a{
            font-size: 23px;
            font-weight: 400;
            text-decoration: none;
            color: #FFFFFF;
            &:hover{
                cursor: pointer;
                color: #70E61C;
            }
        }
    }
    
}

img{
    height: 30px;
}

.menu{
    display: flex;
    flex-direction: column;
    font-size: 29px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.767);
    >.langDiv{
        display: flex;
        justify-content: center;
    }
    >.menuDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    font-size: 29px;
    font-weight: 400;
    gap: 29px;
    
    >a{
        text-decoration: none;
        color: #FFFFFF;
        text-align: center;
    }}
}

.burgerMenu{
    display: none;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 4;
}

.lang {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 38px;
    border: 1px solid #70e61c;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    &:hover{
      cursor: pointer;
    }
  }
  
  .green {
    background-color: #70e61c;
    font-weight: 700;
  }
  
  .black {
    font-weight: 400;
  }

@media (max-width: 820px) { 
    
    .burgerMenu{
        display: block!important;
        >img{
            width: 30px;
        }
    }

    header{
        padding-inline: 10%;
        padding-block: 0px;

    }
}
