div {
  margin-top: 187px;
  display: flex;
  margin-bottom: -100px;
  > div {
    margin-left: -30px;
    margin-top: 0;
    > div {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.block{
  position: relative;
  >div{
  position: absolute;
    right: 0;
    margin-right: 100px;
}}


.social {
  justify-content: space-between;
  height: 40px !important;
  margin: 0 !important;
  > div {
    height: 40px !important;
    align-items: center;
    gap: 32px;
    > p {
      font-size: 23px;
    }
    > a {
      > img {
        height: 30px !important;
        width: 30px !important;
        transition: all 0.1s ease-out;
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}

.scroll {
  transform: rotate(90deg) translateX(-70px);
  margin-top: 20px;
  margin-right: 23px;
  font-size: 23px;
}

h1, p {
  color: #ffffff;
  margin: 0;
}

.p1 {
  font-size: 58px;
  font-weight: 400;
  color: #9747ff;
}

.p2 {
  font-size: 86px;
  font-weight: 700;
}

.space{
  position: relative;
    width: 180px!important;
    height: 180px;
}

.rotate {
  transform: rotate(-90deg);
  width: auto;
  height: 30px;
  text-align: end;
  margin-right: 0px;
  font-size: 74px;
  font-weight: 400;
  position: absolute;
    right: 0;
    top: 0;
    margin-top: 100px;
}

.profilePic {
    object-fit: cover;
  width: 40%;
  aspect-ratio: 1 / 1.3;
  position: relative;
  top: -140px;
  left: 100px;
  z-index: -2;
}

.profilePicBackground {
  z-index: -3;
  height: 47vw;
  width: 48vw;
  position: relative;
  top: -50vw;
  left: 2vw;
}

.line {
  background-color: #9747ff;
  width: 100px !important;
  height: 0 !important;
  border: 2px solid #9747ff;
}

.button1 {
  text-decoration: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #70e61c;
  border-radius: 10px;
  width: auto;
  height: 58px;
  font-size: 23px;
  color: #ffffff;
  font-weight: 400;
  gap: 10px;
  margin-top: 26px !important;
  transition: all 0.1s ease-out;
  padding-inline: 28px;
  &:hover {
    transform: scale(1.2, 1.1);
    transform-origin: top;
    background-color: #9747ff;
  }
}

.shadowDiv{
  height: 0;
  margin: 0!important;
}




@media (max-width: 1400px){
    .p1{
        font-size: clamp(24px, 3vw, 54px);
    }

    .p2{
      font-size: clamp(34px, 4.5vw, 70px);
    }

    .rotate{
        font-size: clamp(36px, 4vw, 64px);
        margin-top: 4.5vw;
    }
}

@media (max-width: 820px) {

  .block{
    position: unset;
    >div{
    position: unset;
      right: unset;
      margin-right: unset;
  }}

  .rotate{
    position: unset;
  }

  .profilePic {
    position: unset;
    width: 80vw;
    max-width: 100vw;
    height: auto;
    left: 0px;
  }

  div {
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 0;
    flex-direction: column;
    > div {
      height: 440px;
      flex-direction: row;
      > div {
        margin-left: -60px;
      }
    }
  }

  .rotate {
    margin-left: -30px;
    margin-top: 30px;
    font-size: 30px;
    margin-right: calc(245px + -95vw);
  }

  .p2 {
    font-size: 34px;
    text-align: center;
  }

  .p1 {
    font-size: 23px;
    text-align: center;
  }

  .scroll {
    display: none;
  }

  .button1 {
    width: 133px;
    height: 49px;
    font-size: 16px;
  }

  .social {
    > div {
      margin-left: 60px;
      > p {
        display: none;
      }
    }
  }

  .profilePicBackground {
    height: 450px;
    width: 500px;
    top: -625px;
    left: -50px;
  }
}
