<div class="block">
    <img src="assets/img/imgGroß-1400.webp" srcset="assets/img/imgGroß-640.webp 640w, assets/img/imgGroß-960.webp 960w, assets/img/imgGroß-1400.webp 1400w" sizes="(max-width: 820px) 80vw, (max-width: 1440px) 40vw, 576px" class="profilePic" alt="">
    
    <div>
        <div class="space"><p class="rotate">I am</p></div>
        <div>
            <h1 class="p2">Sascha Nyßen</h1>
            <p class="p1">FULLSTACK DEVELOPER</p>
            <a *ngIf="languageService.currentLanguage === 'en'" class="button1" href="#contact">Let´s Talk!</a>
            <a *ngIf="languageService.currentLanguage === 'de'" class="button1" href="#contact">Lass uns reden!</a>
        </div>
    </div>
</div>

<div class="social">
    <div>
        <div class="line"></div>
        <a class="socialLinks" target="_blank" href="https://github.com/cyborg-s">
            <img src="assets/img/github.png" alt="">
        </a>
        <a class="socialLinks" href="#contact">
            <img src="assets/img/mail.png" alt="">
        </a>
        <a class="socialLinks" target="_blank" href="https://www.linkedin.com/in/sascha-nyßen-13228b27b/">
            <img src="assets/img/linkedin.png" alt="">
        </a>
        <a class="socialLinks link" href="mailto:kontakt@sascha-nyssen.de">kontakt&#64;sascha-nyssen.de</a>
    </div>
    <p *ngIf="languageService.currentLanguage === 'en'" class="scroll">Scroll down →</p>
    <p *ngIf="languageService.currentLanguage === 'de'" class="scroll">Scroll runter →</p>
</div>

<div class="shadowDiv"><img src="assets/img/shadow1.png" class="profilePicBackground" alt=""></div>