<div class="imprint">
  <div *ngIf="languageService.currentLanguage === 'en'" class="margin">
    <div class="top">
      <h1>Imprint</h1>
      <a href=""
        ><img class="transform" src="assets/img/goUp.png" alt=""
      /></a>
    </div>
    <p>Information according to § 5 DDG</p>
    <p>
      Sascha Nyßen<br />
      <br />
      Stettinerstraße 1<br />
      92224 Amberg <br />
    </p>
    <p>
      <strong>Represented by: </strong><br />
      Sascha Nyßen<br />
    </p>
    <p>
      <strong>Contact:</strong> <br />
      Phonenumber: +49172-3141775<br />
      E-Mail: <a href="mailto:nysascha1@gmail.com">nysascha1&#64;gmail.com</a
      ><br />
    </p>
    <p class="text">
      <strong>Disclaimer: </strong><br /><br /><strong
        >Liability for links</strong
      ><br /><br />
      Our website contains links to external third-party websites, the content
      of which we have no influence on. Therefore, we cannot assume any
      liability for this assume any liability. The respective provider or
      operator of the linked pages is always provider or operator of the pages.
      The linked pages were checked for possible legal violations at the time of
      linking. violations. Illegal contents were not recognisable at the time of
      linking. recognisable at the time of linking. However, permanent
      monitoring of the content of the linked pages is content without concrete
      evidence of an infringement. If we become aware of any legal
      infringements, we will remove such links immediately. remove such links
      immediately.
    </p>
    <br />
    Created with the
    <a href="https://websitewissen.com/impressum-generator" rel="dofollow"
      >Imprint-Generator from WebsiteWissen.com</a
    >, the guide for
    <a href="https://websitewissen.com/website-erstellen" rel="dofollow"
      >Website creation</a
    >,
    <a
      href="https://websitewissen.com/homepage-baukasten-vergleich"
      rel="dofollow"
      >Homepage construction kits</a
    >
    und
    <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow"
      >Shopsysteme</a
    >. Legal text from the
    <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
      >Hasselbach law firm</a
    >.
  </div>

  <div *ngIf="languageService.currentLanguage === 'de'" class="margin">
    <div class="top">
      <h1>Impressum</h1>
      <a href=""
        ><img class="transform" src="assets/img/goUp.png" alt=""
      /></a>
    </div>
    <p>Informationen gemäß § 5 DDG</p>
    <p>
      Sascha Nyßen<br />
      <br />
      Stettinerstraße 1<br />
      92224 Amberg <br />
    </p>
    <p>
      <strong>Vertreten durch: </strong><br />
      Sascha Nyßen<br />
    </p>
    <p>
      <strong>Kontakt:</strong> <br />
      Telefonnummer: +49172-3141775<br />
      E-Mail: <a href="mailto:nysascha1@gmail.com">nysascha1&#64;gmail.com</a
      ><br />
    </p>
    <p class="text">
      <strong>Haftungsausschluss:</strong><br /><br /><strong
        >Haftung für Links</strong
      ><br /><br />
      Unsere Website enthält Links zu externen Websites Dritter, auf deren
      Inhalte wir keinen Einfluss haben. Daher können wir für diese fremden
      Inhalte auch keine Haftung übernehmen. Für die Inhalte der verlinkten
      Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
      auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
      Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche
      Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </p>
    <br />
    Erstellt mit dem
    <a href="https://websitewissen.com/impressum-generator" rel="dofollow"
      >Impressum-Generator von WebsiteWissen.com</a
    >, dem Ratgeber für
    <a href="https://websitewissen.com/website-erstellen" rel="dofollow"
      >Website-Erstellung</a
    >,
    <a
      href="https://websitewissen.com/homepage-baukasten-vergleich"
      rel="dofollow"
      >Homepage-Baukästen</a
    >
    und
    <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow"
      >Shopsysteme</a
    >. Rechtstext von der
    <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
      >Kanzlei Hasselbach</a
    >.
  </div>
</div>



