:host {
    display: flex;
    flex-grow: 1;
  }

.imprint{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: calc(100vh - 405px);
    flex-direction: column;
    max-width: 1440px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    flex-grow: 1;
    >.margin{
        margin-inline: 100px;
    }
}

.top{
    display: flex;
    justify-content: space-between;
}

.transform{
    transform: rotate(-90deg);
    &:hover{
        background-color: #ffffff35;
        border-radius: 100%;
    }
}

.text{
    text-wrap: wrap;
}

a{
    text-decoration: none;
    color: #70E61C;
}

h1{
    font-size: clamp(22px, 6vw, 32px);
}

@media (max-width: 820px){
    .imprint{
        >.margin{
            margin-left: 6%;
              margin-right: calc(6% - 15px);
              margin-bottom: 50px;
        }
    }
}

