body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/underwater.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: "LuckyGuy", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "LuckysGuy";
  src: url(./img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

.dFlex{
  display: flex;
}

button {
  touch-action: none!important;
  -webkit-user-select: none!important;
  user-select: none!important;
  -webkit-tap-highlight-color: transparent;
}

canvas {
  background-color: black;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fullscreenCanvas {
  width: 100%;
}

#fullscreenDiv {
  width: 100%;
}

.canvasButton {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 480px;
}

.mute {
  z-index: 99;
  position: relative;
  top: 2%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  padding-inline-end: 5px;
}

.startGame {
  cursor: pointer;
  z-index: 98;
  position: relative;
  top: 60%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8%;
}

.startGame img {
  height: 100%;
}

.button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.help{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.instHelp p {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding-inline: 60px;
  font-weight: bold;
}

.instHelp img {
  height: 40px;
  width: fit-content;
  max-width: 150px;
}

.helpBack {
  height: 50px;
  width: 50px;
  padding-left: 600px;
  padding-top: 10px;
  margin-bottom: -50px;
}

.instHelp{
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 0px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.795);
  align-items: center;
}

.muteButton {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.fullscreenButton {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.dNone {
  display: none !important;
}

.impressum {
  font-size: 21px;
  padding-inline: 5px;
  background-color: rgba(255, 255, 255, 0.564);
}

.impress {
  border-radius: 10px;
  min-width: 20px;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 1111;
  background-color: rgba(255, 255, 255, 0.667);
}

.impressHelp {
  border-radius: 10px;
  min-width: 20px;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 1111;
  background-color: rgba(255, 255, 255, 0.667);
}

.back {
  height: 50px;
  width: 50px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 56px;
  letter-spacing: 3px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.impressHead {
  font-size: 40px;
}

#turn {
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.514);
  width: 100%;
  height: 100%;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#turn img {
  height: 80px;
}

#controls {
  position: absolute;
  top: 70%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}

button {
  min-width: 50px;
  height: 50px;
  font-size: 22px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  background-color: #6262627a;
  color: rgb(0, 0, 0);
  touch-action: manipulation;
}

.arrows {
  width: 170px;
}

.actions {
  width: 150px;
}

.instructions {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 45px;
  background-color: rgba(255, 255, 255, 0.347);
  width: 520px;
  border-radius: 10px;
}

.attakInstructions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruc{
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-around;
}

.slaper{
  height: 90px!important;
  margin-block: -25px;
}

.instrucimg {
  height: 50px!important;
}

.instruc p {
  width: 15px;
  margin: 0;
  padding-inline: 2px!important;
}

.instructions p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 60px;
  font-weight: bold;
}

.instructions img {
  height: 40px;
  width: fit-content;
  max-width: 150px;
}

@media (min-width: 1369px) {
  #controls {
    display: none;
  }

  #turn {
    display: none;
  }
}

@media (max-width: 1370px) {
  .instructions {
    display: none;
  }
}

@media (max-height: 1000px) {
  .instructions {
    display: none;
  }

  .canvasButton{
    top: 50%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100%;
  }

  #fullscreen {
    height: 100%;
    width: auto;
    aspect-ratio: 720 / 480;
  }

  .headline {
    display: none;
  }
}

@media (max-height: 640px) {
  .headline {
    display: none;
  }

  .impressum{
    font-size: 18px;
  }

  
}
@media (max-height: 850px){
  h1 {
    margin-block: 5px;
  }
}