<div class="pokedex flex center">
    <div class="left flex center"><img #img class="imgAnimate" src="assets/img/pokedex.png" alt=""></div>
    <div class="right flex">
        <h2>Pokedex</h2>
        <h3>JavaScript | HTML | CSS | Api</h3>
        <p *ngIf="languageService.currentLanguage === 'en'">Based on the PokéAPI a simple library that provides and catalogues pokemon information. </p>
        <p *ngIf="languageService.currentLanguage === 'de'">Basierend auf der PokéAPI eine einfache Bibliothek, die Pokemon-Informationen bereitstellt und katalogisiert. </p>
        <div class="buttons"><a target="_blank" class="liveButton" href="https://pokedex.sascha-nyssen.de/">Live test</a>
        <a class="gitButton" target="_blank" href="https://github.com/cyborg-s/pokedex"> GitHub</a></div>
    </div>
</div>