.portfolioHeader{
    margin-top: 120px;
    justify-content: end;
    align-items: center;
    gap: 32px;
    >.lineLeft{
        width: 100px;
        height: 0;
        border: 2px solid #9747FF;
    }
    >.lineRight{
        width: 30vw;
        height: 0;
        border: 2px solid #9747FF;
    }
    >h2{
        font-size: 90px;
        font-weight: 700;
        color: #FFFFFF;
        margin: 0;
    }
}

.undertitle{
    justify-content: center;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 100px;
    text-align: center;
    max-width: 90vw;
}

.portfolio{
    margin-top: 180px;
}

.shadow4Div{
    height: 0;
    >.shadow4{
        position: relative;
        top: -600px;
        left: -350px;
        z-index: -1;
    }
}



@media (max-width: 820px){
   

    .undertitle{
        text-align: center;
    }

    .portfolio{
        margin-top: 0;
        width: 342px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .portfolioHeader{
        justify-content: end;
        width: 100vw;
        >.lineRight{
            width: 16vw;
        }
    }


    .lineLeft {
        width: 24px!important;
    }

}