<div class="projekt1 flex center">
    <div class="left flex center"><img #img class="imgAnimate" src="assets/img/kreideheld.png" alt=""></div>
    <div class="right flex">
        <h2>Kreideheld </h2>
        <h3>React | TypeScript | FastAPI | SQLAlchemy | REST API <br> In Development</h3>
        <p *ngIf="languageService.currentLanguage === 'en'">Kreideheld is a fullstack web application for managing leftover materials in craft businesses. Employees can record material leftovers and will be able to quickly find suitable stock based on required dimensions. The project is being developed with React, TypeScript, and FastAPI and already includes a REST API, CRUD functionality, and data modeling. Multi-tenancy and an offline-first architecture are part of the ongoing development. </p>
        <p *ngIf="languageService.currentLanguage === 'de'">Kreideheld ist eine Fullstack-Webanwendung zur Verwaltung von Restmaterialien in Handwerksbetrieben. Mitarbeiter können Materialreste erfassen und sollen passende Bestände anhand benötigter Maße schnell wiederfinden. Das Projekt wird mit React, TypeScript und FastAPI entwickelt und umfasst bereits REST-API, CRUD-Funktionen und Datenmodellierung. Multi-Tenancy und eine Offline-First-Architektur befinden sich im weiteren Ausbau. </p>
        <div class="buttons"><a target="_blank" class="liveButton" href="https://cyborg-s.github.io/kreideheld_mockup/">Mockup</a>
        <a class="gitButton" target="_blank" href="https://github.com/cyborg-s/kreideheld"> GitHub</a></div>
    </div>
</div>