.roundPic{
    border-radius: 50%;
    width: 31vw;
    height: 31vw;
    border: 2px solid #70E61C;
    max-height: 453px;
    max-width: 453px;
}

.picAnimate{
    opacity: 0;
    transform: translateX(150px); /* Startpunkt: 150px nach rechts verschoben */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.picAnimate.show {
    opacity: 1;
    transform: translateX(0); /* Nach links zur Normalposition */
  }

.picLine{
    height: 0;
    width: 100%;
    border: 1px solid #70E61C;
}

.lineWidth{
    width: 18vw;
    max-width: 267px;
}

.aboutMe{
    gap: 10px;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 124px;
}


.imgAboutMe{
    height: 32px;
    transition: all 0.1s ease-out;
    &:hover{
        transform: scale(1.3, 1.3);
    }
}

.wrap{
    text-wrap: wrap;
    text-align: justify;
}

.aboutMeText{
    max-width: 520px;
    width: 36vw;
    margin-left: 100px;
}

.gap{
    gap: 16px;
}

h2{
    font-size: 90px;
    font-weight: 700;
    margin-top: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
}

.shadow2{
    position: absolute;
    z-index: -1;
    top: -1050px;
    right: -430px;
}

.shadowDiv{
    position: relative;
    height: 0;
}

@media (max-width:1060px){
    .lineWidth{
        width: 15vw;
    }

    p{
        font-size: 14px;
    }
}

@media (max-width: 820px){
    h1{
        font-size: 45px;
    }



    .aboutMe{
        width: auto;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 6%;
              margin-right: calc(6% - 15px);
        height: auto;
        align-items: start;
    }

    .aboutMeText{
        margin: 0;
        width: auto;
        max-width: unset;
    }

    .picDiv{
        display: none;
    }

    .shadow2{
        height: 391px;
        right: -225px;
        top: -600px;
    }
}