img{
  height: 339px;
  margin: -70px;
  margin-left: 6%;
              margin-right: calc(6% - 15px);
}


.imgAnimate{
  opacity: 0;
  transform: translateX(-150px); /* Startpunkt: 150px nach rechts verschoben */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.imgAnimate.show {
  opacity: 1;
  transform: translateX(0); /* Nach links zur Normalposition */
}

.join {
  height: 339px;
  gap: 35px;
  justify-content: center;
  > .left {
    width: 43%;
    justify-content: center;
  }
  > .right {
    flex-direction: column;
    width: 36%;
    height: 339px;
    justify-content: end;
    gap: 35px;
    > h2 {
      margin: 0;
      font-size: 32px!important;
      font-weight: 700;
      color: #9747ff;
    }
    > h3 {
      font-size: 23px;
      font-weight: 400;
      color: #70e61c;
      margin: 0;
    }
    > p {
      margin: 0;
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
    }
    > .buttons {
      > a {
        text-decoration: none;
        gap: 10px;
        height: 58px;
        padding-inline: 30px;
        padding-block: 15px;
        border-radius: 10px;
      }
      > .liveButton {
        text-decoration: none;
        color: #ffffff;
        background-color: #9747ff;
        width: 152px;
        margin-right: 6vw;
      }
      > .gitButton {
        text-decoration: none;
        color: #ffffff;
        width: 137px;
        border: 1px solid #70e61c;
      }
    }
  }
}

@media (max-width: 820px) {
  .join {
    flex-direction: column;
    height: auto;
    gap: 0;
    >.left{
        width: 342px;
        justify-content: center;
    }
    >.right{
        width: 100vw;
        height: auto;
        align-items: center;
        >h3{
            text-align: center;
            height: 34px;
            margin-left: 6%;
              margin-right: calc(6% - 15px);
        }
        >p{
            text-align: center;
            margin-left: 6%;
              margin-right: calc(6% - 15px);
        }
    }
  }

  .liveButton{
    margin-right: 30px!important;
  }
}

