<div class="join flex center">
    <div class="left flex center"><img #img class="imgAnimate" src="assets/img/join.png" alt=""></div>
    <div class="right flex">
        <h2>Join</h2>
        <h3>JavaScript | HTML | CSS | Firebase</h3>
        <p *ngIf="languageService.currentLanguage === 'en'">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </p>
        <p *ngIf="languageService.currentLanguage === 'de'">Aufgabenmanager nach dem Vorbild des Kanban-Systems. Erstellen und organisieren Sie Aufgaben mit Hilfe von Drag-and-Drop-Funktionen, weisen Sie Benutzer und Kategorien zu. </p>
        <div class="buttons"><a target="_blank" class="liveButton" href="https://join.sascha-nyssen.de/">Live test</a>
        <a class="gitButton" target="_blank" href="https://github.com/cyborg-s/join"> GitHub</a></div>
    </div>
</div>