*{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    
}

h1{
    font-size: clamp(22px, 6vw, 32px);
}

h2{
    font-size: clamp(18px, 4vw, 22px)!important;
}

a{
    text-decoration: none;
    color: #70E61C;
}

main{
    margin-bottom: 50px;
    max-width: 1440px;
    margin-inline: 100px;
}

.transform{
    transform: rotate(-90deg);
    height: 39px;
    width: 39px;
    &:hover{
        background-color: #ffffff35;
        border-radius: 100%;
    }
}

.top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 820px){
       main{
        margin-left: 6%;
              margin-right: calc(6% - 15px);
    }
}


@media (max-width: 500px){
    *{
        font-size: 14px;
    }
}