input[type="text"],
[type="email"],
textarea {
  background-color: #141d2f;
  color: #FFFFFF;
  width: 45vW;
  max-width: 600px;
  padding-inline: 25px;
  padding-block: 15px;
  border: 1px solid #9747ff;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 0px;
  resize: vertical;
}


input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="checkbox"]{
    appearance: none;
    background-color: #141d2f;
    border: 2px solid #70E61C;
    border-radius: 2px;
    width: 18px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: relative;
    display: inline-block;
    &:checked {
        border-color: #70E61C;
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 4px;
            width: 4px;
            height: 10px;
            border: solid #70E61C;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}

input[type="text"]:hover,
[type="email"]:hover,
textarea:hover{
  border: 1px solid #70E61C;
}

.goUp{
  display: flex;
  width: 100vw;
  height: 200px;
 max-width: 1440px;
  justify-content: end;
  align-items: center;
  >a{
    padding-right: 100px;

    >img{
      height: 39px;
      transition: all 0.1s ease-out;
    background-color: #FFFFFF;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    &:hover{
      background-color: #70E61C;
    }
    }
  }
}

.privacyPolice{
  margin-bottom: 10px;
}

h3{
  font-size: clamp( 32px, 3vw, 20px);
}

.contact {
  margin-top: 100px;
  flex-direction: column;
  > .headerContact {
    gap: 32px;
    > h2 {
      font-size: 90px;
      font-weight: 700;
      color: #ffffff;
    }
    > .line {
      height: 0;
      border: 2px solid #9747ff;
      width: 37vw;
    }
  }
  > .contactForm {
    justify-content: space-between;
    margin-inline: 100px;
    gap: 10px;
    > .right {
      width: 617px;
      height: 508px;
      > form {
        flex-direction: column;
        align-items: center;
        > .check {
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 32px;
          > p {
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
          }
        }
        >button{
            height: 58px;
            width: fit-content;
            font-weight: 400;
            font-size: 22px;
            color: #FFFFFF;
            background-color: #B6B6B6;
            padding-inline: 30px;
            padding-block: 15px;
            border-radius: 10px;
            margin-top: 16px;
          }
      }
    }
    > .left {
      width: 474px;
      height: 154px;
      color: #FFFFFF;
    }
  }
}


.privacy{
  text-decoration: none;
  color: #9747ff;
  &:hover{
    text-decoration: underline;
  }
}

span{
  color: red;
  text-align: start;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  height: 0px;
}

.error {
  border: 1px solid red!important;
}

.enabled-button {
  background-color: #70E61C!important;
  border: #70E61C;
  color: white;
  cursor: pointer;
}

.shadow5Div{
  position: relative;
  height: 0;
  >.shadow5{
    position: relative;
    top: -500px;
    left: -500px;
    z-index: -1;
  }
}

.succsess{
  position: absolute;
  top: -500px;
  left: 50vw;
  margin-left: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 80px;
  background-color: #70e61c81;
  border-radius: 10px;
  color: #FFFFFF;
}

.none{
  display: none;
}


@media(max-width: 820px){
  .contact{
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    >.headerContact{
      margin-left: 15px;
      >h2{
        font-size: 45px;
      }
      >.line{
        width: 20px;
      }
    }
    >.contactForm{
      flex-direction: column;
      margin-inline: 0px;
      >.left{
        width: auto;
        height: auto;
        margin-left: 6%;
              margin-right: calc(6% - 15px);
      }
      >.right{
        width: auto;
        margin-left: 6%;
              margin-right: calc(6% - 15px);
        justify-content: center;
      }
    }
  }
  input[type="text"],
[type="email"],
textarea {
  width: 100%;
  max-width: unset;
}

input[type="checkbox"]{
  margin: 0;
  margin-left: 14px;
}

.goUp{
  width: 100vw;
  align-items: center;
  height: 200px;
  >a{
    padding-right: 24px;
    padding-bottom: 0;
  }
}

.check{
  width: 100%;
  justify-content: center;
}

}