<div class="flex skills">
  <div #skills class="skillLeft mobilImgDe flex animate">
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/html.png" alt="" />
      <p class="skillTag">HTML</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/css.png" alt="" />
      <p class="skillTag">CSS</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/JavScript.png" alt="" />
      <p class="skillTag">JavaScript</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Typescript.png" alt="" />
      <p class="skillTag">TypeScript</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Angular.png" alt="" />
      <p class="skillTag">Angular</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Firebase.png" alt="" />
      <p class="skillTag">Firebase</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Git.png" alt="" />
      <p class="skillTag">Git</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Api.png" alt="" />
      <p class="skillTag">Rest Api</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Scrum.png" alt="" />
      <p class="skillTag">Scrum</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Material.png" alt="" />
      <p class="skillTag textCenter">Marterial<br />Design</p>
    </div>
    <div class="cLearning">
      <img class="skillImg" src="assets/img/learningtransparent.png" alt="" />
      <p
        *ngIf="languageService.currentLanguage === 'de'"
        class="skillTag textCenter"
      >
        Kontinuierlich<br />lernen
      </p>
      <p
        *ngIf="languageService.currentLanguage === 'en'"
        class="skillTag textCenter"
      >
        Continually<br />learning
      </p>
      <img src="assets/img/popup.png" class="popup" alt="" />
    </div>
  </div>
  <div class="skillRight flex">
    <div class="flex skillText">
      <div class="mobilPosition">
        <h2 *ngIf="languageService.currentLanguage === 'en'">My Skills</h2>
        <h2 *ngIf="languageService.currentLanguage === 'de'">Meine Skills</h2>
        <p *ngIf="languageService.currentLanguage === 'en'">
          I have worked with various front-end technologies in my projects,
          including HTML, CSS, and JavaScript, as well as modern frameworks like
          Angular. Additionally, I have experience with CSS preprocessors such
          as SCSS and SASS for efficient styling. I have also integrated APIs,
          optimized performance, and developed responsive designs to ensure a
          seamless user experience across different devices.
        </p>
        <p class="textDe" *ngIf="languageService.currentLanguage === 'de'">
          In meinen Projekten habe ich mit verschiedenen Frontend-Technologien
          gearbeitet, darunter HTML, CSS und JavaScript sowie moderne Frameworks
          wie Angular. Außerdem habe ich Erfahrung mit CSS-Präprozessoren wie
          SCSS und SASS für effizientes Styling. Außerdem habe ich APIs
          integriert, die Leistung optimiert und responsive Designs entwickelt,
          um ein nahtloses Benutzererlebnis auf verschiedenen Geräten zu
          gewährleisten.
        </p>
      </div>
      <div class="end">
        <div *ngIf="languageService.currentLanguage === 'en'" class="flex h2En">
          <h3>Looking for</h3>
          <h3 class="h2Color">another skill</h3>
          <h3>?</h3>
        </div>
        <div
          *ngIf="languageService.currentLanguage === 'de'"
          class="flex column"
        >
          <h3>Auf der Suche nach</h3>
          <h3 class="h2Color">eine einer anderen Fähigkeit</h3>
          <h3>?</h3>
        </div>
        <p *ngIf="languageService.currentLanguage === 'en'">
          I am passionate about learning new technologies and frameworks. I
          enjoy exploring new tools, staying up to date with industry trends,
          and applying my knowledge to build innovative solutions.
        </p>
        <p *ngIf="languageService.currentLanguage === 'de'">
          Ich lerne leidenschaftlich gerne neue Technologien und Frameworks. Es
          macht mir Spaß, neue Tools zu erforschen, mich über Branchentrends auf
          dem Laufenden zu halten und mein Wissen anzuwenden, um innovative
          Lösungen zu entwickeln.
        </p>
        <a
          *ngIf="languageService.currentLanguage === 'en'"
          class="button2"
          href="#contact"
          >Get in touch</a
        >
        <a
          *ngIf="languageService.currentLanguage === 'de'"
          class="button2"
          href="#contact"
          >Kontakt aufnehmen</a
        >
      </div>
    </div>
    <div class="line"></div>
  </div>
</div>
<div class="shadow3Div">
  <img class="shadow3" src="assets/img/shadow3.png" alt="" />
</div>

<div class="flex skillss">
  <h2 *ngIf="languageService.currentLanguage === 'en'">My Skills</h2>
  <h2 *ngIf="languageService.currentLanguage === 'de'">Meine Skills</h2>
  <div #skills class="skillIMG mobilIMG flex animate">
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/html.png" alt="" />
      <p class="skillTag">HTML</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/css.png" alt="" />
      <p class="skillTag">CSS</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/JavScript.png" alt="" />
      <p class="skillTag">JavaScript</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Typescript.png" alt="" />
      <p class="skillTag">TypeScript</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Angular.png" alt="" />
      <p class="skillTag">Angular</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Firebase.png" alt="" />
      <p class="skillTag">Firebase</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Git.png" alt="" />
      <p class="skillTag">Git</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Api.png" alt="" />
      <p class="skillTag">Rest Api</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Scrum.png" alt="" />
      <p class="skillTag">Scrum</p>
    </div>
    <div class="skillDiv">
      <img class="skillImg" src="assets/img/Material.png" alt="" />
      <p class="skillTag textCenter">Marterial<br />Design</p>
    </div>
    <div class="cLearning">
      <img
        class="skillImg"
        src="assets/img/learningtransparent.png"
        alt=""
      />
      <p
        *ngIf="languageService.currentLanguage === 'de'" 
        class="skillTag textCenter"
      >
        Kontinuierlich<br />lernen
      </p>
      <p
        *ngIf="languageService.currentLanguage === 'en'"
        class="skillTag textCenter"
      >
        Continually<br />learning
      </p>
      <img src="assets/img/popup.png" class="popup" alt="" />
    </div>
  </div>
  <div class="firstText">
    <p *ngIf="languageService.currentLanguage === 'en'">
      I have worked with various front-end technologies in my projects,
      including HTML, CSS, and JavaScript, as well as modern frameworks like
      Angular. Additionally, I have experience with CSS preprocessors such as
      SCSS and SASS for efficient styling. I have also integrated APIs,
      optimized performance, and developed responsive designs to ensure a
      seamless user experience across different devices.
    </p>
    <p class="textDe" *ngIf="languageService.currentLanguage === 'de'">
      In meinen Projekten habe ich mit verschiedenen Frontend-Technologien
      gearbeitet, darunter HTML, CSS und JavaScript sowie moderne Frameworks wie
      Angular. Außerdem habe ich Erfahrung mit CSS-Präprozessoren wie SCSS und
      SASS für effizientes Styling. Außerdem habe ich APIs integriert, die
      Leistung optimiert und responsive Designs entwickelt, um ein nahtloses
      Benutzererlebnis auf verschiedenen Geräten zu gewährleisten.
    </p>
  </div>
  <div class="secondText">
    <div *ngIf="languageService.currentLanguage === 'en'" class="flex">
      <h3>Loocking for</h3>
      <h3 class="h2Color">another skill</h3>
      <h3>?</h3>
    </div>
    <div *ngIf="languageService.currentLanguage === 'de'" class="flex column">
      <h3>Auf der Suche nach</h3>
      <h3 class="h2Color">eine einer anderen Fähigkeit</h3>
      <h3>?</h3>
    </div>
    <p *ngIf="languageService.currentLanguage === 'en'">
      I am passionate about learning new technologies and frameworks. I enjoy
      exploring new tools, staying up to date with industry trends, and applying
      my knowledge to build innovative solutions.
    </p>
    <p *ngIf="languageService.currentLanguage === 'de'">
      Ich lerne leidenschaftlich gerne neue Technologien und Frameworks. Es
      macht mir Spaß, neue Tools zu erforschen, mich über Branchentrends auf dem
      Laufenden zu halten und mein Wissen anzuwenden, um innovative Lösungen zu
      entwickeln.
    </p>
    <a
      *ngIf="languageService.currentLanguage === 'en'"
      class="button2"
      href="#contact"
      >Get in touch</a
    >
    <a
      *ngIf="languageService.currentLanguage === 'de'"
      class="button2"
      href="#contact"
      >Kontakt aufnehmen</a
    >
  </div>
  <div class="lineMobil"></div>
</div>
